@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=cyrillic');
html{
  font-size: 10px;
}
body{
  font-size: 1.8rem;
  font-family: 'Roboto';
padding: 0;
margin: 0;
}
/* Верхняя навигация */
.topmenu{
  padding: 1.5rem 0rem;
}
.litop li{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 21px;
}
.navbar-light{
  opacity: 1;
  justify-content: center;
}
.litop li{
  text-align: center;
  max-width: 10rem;
}
.navbar-nav{
  justify-content: center;
}
.nav-item  {
  margin: 0px 2.5rem;
}
.nav-link::after{
  display: block;
  margin: auto;
  content: '';
  width: 85%;
  height: 2px;
  background-color: #FE8736;
  transform: translateY(0.55rem) scale(0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-link:hover::after{
  transform: translateY(0.55rem) scale(1);
}
button.btnsim{
  width: 265px;
  height: 55px;
  padding: 0;
  border: solid;
  font: inherit;
  color: #FE8736;
  border-radius: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.btnsim p{
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 5rem;
}
.logotopmenu{
margin-right: 
}
/*Вехняя навигация*/
.header{
text-align: center;
}
.form-control{
  border-radius: 5rem !important;
}
.form-control-lg{
  width: 33.6rem;
    padding: 2rem !important;
    border-radius: 1rem !important;
    margin-bottom: 1.5rem;
    background-color: #F7F7F7;
    border-width: 0rem;

}
.active{
  color: red;
}
.licenter li{
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 21px;
  float: right;
}
.nav-link{
}
.search{
  margin: 3rem 0rem;
}
.centermenu{
  margin-bottom: 3.7rem;
}
/*верхняя навигация*/
/*content*/
.centercontent{
  font-size: 1.8rem;
  font-weight: 700; 
  color: #FFFFFF;
}
.frame1{
position: relative;
width: 37rem;
height: 30rem;
background-image: url(../img/block1.png);
margin-bottom: 1.2rem;  

}
.blockline{ 
  font-family: 'Roboto';
position: absolute;
padding: 2.6rem 2rem; 
width: 37rem;
height: 10rem;
background-color: #151515;
top: 200px;
border-radius: 1rem;
}
.text1{
font-size: 1.2rem;  
font-weight: 300; 
opacity: 0.5;
}
/*footer*/
.footer{
  width: 100%;
  background-color: #151515;
  font-size: 1.4rem;
  padding: 5.9rem 0rem;
  color: #FFFFFF;
  font-family: 'Roboto';
  line-height: 21px;

}
ul{
  list-style: none;
}
a{
  color: #FFFFFF !important;
  opacity: 0.7;
}
.text2{
  font-weight: 700;
  font-size: 2.4rem;
}
/*content - index*/
.block1 {
  font-family: 'Roboto';
  font-weight: 300;
  width: 100%;
  background-image: url(../img/content1.png);
  margin:0;
  color: #FFFFFF;
  padding: 17.9rem 0rem;
  font-weight: ;
}
.text3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
.text4{
  font-size: 1.8rem;
  line-height: 21px;
}
.text5{
   font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.frame2{
   font-family: 'Roboto';
  position: relative;
  padding: 1.5rem 1.5rem;
  color: #151515;
  width: 36rem;
  height: 36.4rem;
  background-color: #FCFCFC;
  border: 1px solid #EDEDED;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(254, 135, 54, 0.4);
}
.butconfirm{
  width: 16.7rem;
  height: 5.5rem;
  position: absolute;
  background: linear-gradient(180deg, #FFC096 0%, #FE8736 100%);
  border-radius: 50px;
  top: 293px;
  text-align: center;
  font-size: 1.8rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 50px;
}
/*block2*/
.block2{
  color: #151515;
  text-align: center;
}

.img{
  width: 100%;
}
.news{
  position: relative;
  margin-bottom: 10.4rem;
}
.newsblog{
  position: absolute;
  width: 100%;
  height: 13rem;
  background-color: rgba(21, 21, 21, 0.8);
  top: 20rem;
}
/*block3*/
.block3{
  width: 100%;
  background-color: #F4F4F4;
  text-align: center;
  padding: 3rem 0rem;
}

.partner{
  margin-bottom: 2rem;
 margin-left: 1.5rem;
   font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
line-height: 42px;
text-align: left;
text-transform: uppercase;
width: 12.5rem;
  height: 12.5rem;
  background: #C4C4C4;
  -moz-border-radius: 5rem;
  -webkit-border-radius: 5rem;
  border-radius: 10rem;
  line-height: 12rem;
    text-indent:-1.6rem;
    margin-top: 5rem;
}
.block4{
  color: #FFFFFF;
  width: 100%;
  background-image: url(../img/back2.png);
  padding: 9rem 16.1rem;  
  position: relative;
}
.frame3{
  text-align: center;
  margin-right: 5rem;
  position: relative;
  display: inline-block;
  width: 290px;
  height: 480px;
  padding: 1rem 2rem;
  background: #FFFFFF;
  border-radius: 10px;
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.line{
  top: 20rem;
  position: absolute;
  left: 29rem;
  width: 392px;
  height: 0px;
  border: 3px solid #F5F5F5;
  transform: rotate(90deg);
}
.text3 p{
  font-weight: 700 !important;
}
.tarif p{
-text-indent: 5rem;
}
.pricelist p{
  float: left;
  margin-top: 27rem;
  display: inline-block !important; 
}
.etc{
  position: absolute;
  width: 290px;
height: 55px;
background-color: #FE8736;
left: 0;
border-radius: 1rem;
bottom: 0;
color: #FFFFFF;
font-weight: 700;
font-family: Roboto;
text-align: center;
line-height: 5rem;
}.etc a{
  color: #FFFFFF;
}
/*block5*/  
.block5{  
width: 100%;
font-family: Roboto;
margin-top: 3rem;
line-height: 21px;

}
.chooses{
  padding: 5rem 0rem;
  font-size: 1.8rem;

}
.block6{
  width: 100%;
  background: #FE8736;
  color: #FFFFFF;
  text-align: center;
  display: inline-flex;
  padding-top: 3rem;
}
.contaks{
  margin: 5rem 0rem;
}