@media screen and (max-width: 1010px){
	.blockdevelopment__content-text{
		margin: auto;
		text-align: center;
	}
	.blockdevelopment__content img{
		margin: 5rem auto 0 auto;
	}
	.blockscience-heading h1{
		margin: 0 auto 5rem auto;
		text-align: center;
		font-size: 3rem;	
	}
	.blockscience-heading .btn{
		margin: auto;
	}
}
@media screen and (max-width: 1010px){
	.blockdevelopment__list-table{
		margin-bottom: 2rem;
		padding: 1rem;
	}
}
@media screen and (max-width: 1008px){
	.blockdevelopment__content-text{
		animation-name: slideUp;
  		animation-duration: 1s;
  		animation-timing-function: ease-in-out; 
  		animation-delay: 0;
	}
	.blockdevelopment__content img{
		animation-name: slideDown;
  		animation-duration: 1s;
  		animation-timing-function: ease-in-out; 
  		animation-delay: 0;
	}

}
@media screen and (max-width: 600px){
	.blockscience__list-table img{
		max-width: 100%;
	}
}
@media screen and (max-width: 600px){
	.blockservices__list-table{
		max-width: 320px;
	}
}
@media screen and (max-width: 400px){
	.blockproject-heading{

	}
}
@media screen and (max-width: 1024px){
	.blockproject-list__table{
		margin: 0 auto 5rem auto;
	}
}
@media screen and (max-width: 1024px){
	.footer ul{
		margin: 0 auto 0 auto;
	}
}
@media screen and (max-width: 400px){
	.input{
		width: 100%;	
	}
}
@media screen and (max-width: 800px){
	.blockreview-video{
		height: 30rem;
	}
	.blockreview-video__btn{
		margin: 11rem 0 11rem 0;
	}
}
@media screen and (min-width: 800px){
	input[type="submit"]{
		font-size: 1.6rem;	
	}
}
@media screen and (max-width: 800px){
	.footer ul{
		padding: 0 3rem 0 3rem;
		min-width: 19.5rem;
	}
}
@media screen and (max-width: 600px){
	.blockreview-video{
		margin: 20rem auto 15rem auto;
		height: 20rem;
	}
	.blockreview-video__btn{
		margin: 7rem 0 7rem 0;
		padding: 1rem 2rem 1rem 2rem;
	}
	.blockreview-video__btn img{
		max-width: 4rem;
	}
	input[type="submit"]{
		font-size: 1.2rem;	
	}
}
@media screen and (max-width: 699px){
	.blockscience__list-table{
		text-align: center;
	}
}
/* leftsidebar */
@media screen and (max-width: 550px){
	.icon-menu{
		display: none;
		position: fixed;
		font-size: 3.6rem;
		color: #fff;
		display: flex;
		justify-content: flex-start;
		padding: 2rem;
	}
	.blockstart-header__nav-bar{
		display: none;
	}
	.blockstart-header__nav-bar__active{
		display: flex;
		padding-top: 3rem;
		background-color: #4985FF;
		box-shadow:0 0px 50px rgba(0,0,0,0.7);
	}.blockstart-header__nav-bar__active li:first-child{
		padding-top: 4rem;
	}
	.blockstart-header hr{
		display: none;
	}
	.blockstart-header__nav {
 		display: flex;
  		justify-content: flex-start;
	}
	.blockstart-header__nav-bar a {
  		display: block;
  		text-decoration: none;
  		color: #fff;
  		font-size: 1.6rem;
  		padding: 2rem 0 2rem 0;
}
	.blockstart-header__nav-bar a::after {
  		content: "";
  		display: block;
  		width: 70%;
  		height: 0.2rem;
  		background-color: #fff;
  		transform: translateY(1.1rem) scale(0);
}
	.blockstart-header__nav-bar a:hover::after {
  		transform: translateY(1.1rem) scale(1);
  		transition: 0.3s;
}
}
@media screen and (min-width: 550px){
		.icon-menu{
		display: none;
	}
}
/* animation media */
@media screen and (max-width: 515px){
	.blockdevelopment__list-table__first {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__second {
  animation-name: slideUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__third {
  animation-name: slideright;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__fourth {
  animation-name: slideDown;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__fifth {
  animation-name: slideDown;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
}
@media screen and (max-width: 390px){
	.blockdevelopment__list-table__first {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__second {
  animation-name: slideright;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__third {
  animation-name: slideleft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__fourth {
  animation-name: slideright;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.blockdevelopment__list-table__fifth {
  animation-name: slideDown;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
}
@media screen and (max-width: 1050px){
	.blockscience__list-table__first {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
	.blockscience__list-table__second {
  animation-name: slideright;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
	.blockscience__list-table__third {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
}
@media screen and (max-width: 700px){
	.blockscience__list-table__first {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
	.blockscience__list-table__second {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
	.blockscience__list-table__third {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
}
@media screen and (max-width: 765px){
	.blockproject-list__table-first {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.blockproject-list__table-second {
  animation-name: slideright;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.blockproject-list__table-third {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.blockproject-list__table-fourth {
  animation-name: slideright;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
}