@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-weight: bold;
    font-style: normal;
}


html{
  font-size: 10px;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 100%;
}
* {
	padding: 0;
	margin: 0;
}

