@font-face {
  font-family: ALSStory;
  src: local(ALSStory),
    url(../fonts/ALSStory.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
html{
  font-size: 10px;
  
}
body{
  padding: 0;
  margin: 0;
  font-family: ALSStory;
  background-repeat: no-repeat;
  background-color: #f4f4f6;
  width: 1300px;
  height: 108rem;
}
* {
	padding: 0;
	margin: 0;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
h1{
  font-size: 3rem;
  line-height: 1.27;
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}
p{
  font-size: 1.6rem;
}
button{
  background-color: transparent;
  outline: none;
  border-style: none;
  cursor: pointer;
}