.blockstart{
	position: relative;
	padding-bottom: 14rem;
	&:after{
		top: 0;
		content:' ';
		width: 100%;
		height: 74rem;	
		background-image: url(../img/backstart.png);
		position: absolute;
		z-index: -1;
	}
	&-heading{
		text-align: center;
		color: #fff;
		max-width: 73.4rem;
		margin:auto;
		padding-top: 19.4rem;
		h1{
			line-height: 95px;
		}
		p{
			margin-bottom: 17rem;
			font-weight: 300;
		}
	}
	&-yearold{
		
		&-list{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			background-color: #F7F7F7;
			padding: 5.7rem 13rem;
			&__table{
				text-align: center;
				width: 19rem;
				margin: auto;
				span{
					color: #F7654A;
					font-size: 7.2rem;	
				}
				p.year{
					font-size: 3.6rem;	
					font-weight: 700;
					color: #000;
				}
				p{
					font-size: 1.8rem;	
					color: #999999;
				}


			}
		}
	}
	&-big{
		h3{
			margin: auto;
			text-align: center;
			margin-top: 10rem;
		}
		&-list{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			&__table{
				width: 35rem;
				margin: 6rem auto 0 auto;
				hr{
					width: 5.5rem;
					background-color: #F7654A;
					height: 0.6rem;
					border: none;
					margin: 4.5rem 0 1.5rem 0;
				}
				p{
					font-size: 2.4rem;	
				}
				p.text{
					font-size: 1.6rem;	
					font-weight: 300;
					opacity: 0.7;
				}
			}
		}
	}
}
.blocksmart{
	padding-bottom: 15rem;
	&-heading{
		width: 100%;	
		background-color: #F7654A;
		padding: 3rem 0 3rem 0;
		margin-bottom: 15rem;
		&-content{
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;			
		}

	}
	&-btn{
		color: #000;
		padding: 1.4rem 3rem;
		background-color: #FFFFFF;
		&:hover{
			cursor: pointer;
		}
		img{
			margin-right: 1.5rem;
		}
		}
	& h3{
		text-align: center;
	}
	&-list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		&__table{
			padding: 5.9rem 8.6rem;
			background-color: #F7F7F7;
			margin: 3rem auto 0 auto;

			p{
				max-width: 17rem;	
			}
		}
	}
}
.gallery{
	&__list{
		display: flex;
		flex-wrap: wrap;
		img{
			max-width: 25%;
			margin: auto;
		}
	}
}
.blockanswer{
	padding: 15rem 0rem;
	p{	display: inline-block;
		font-size: 2.4rem;
		color: #F7654A;	
		margin-left: 1.5rem;
	}
	p.text{
		font-size: 1.6rem;	
		color: #999999;
	}
	h3{
		text-align: center;
		margin: auto;
		margin-bottom: 1rem;
	}
	&-dropdown-first{
		margin-top:4rem;
		&-menu{
		display: none;
		&__active{
			margin-top: 3rem;
			max-width: 73rem;	
			display: flex;
		}
		}
	}
	&-dropdown-second{
		margin-top:4rem;
		&-menu{
		display: none;
		&__active{
			margin-top: 3rem;
			max-width: 73rem;	
			display: flex;
		}
		}
	}
	&-dropdown-third{
		margin-top:4rem;
		&-menu{
		display: none;
		&__active{
			margin-top: 3rem;
			max-width: 73rem;	
			display: flex;
		}
		}
	}
	&-dropdown-fourth{
		margin-top:4rem;
		&-menu{
		display: none;
		&__active{
			margin-top: 3rem;
			max-width: 73rem;	
			display: flex;
		}
		}
	}

}
.blockpartner{
	background: #404149;
	text-align: center;
	text-transform: uppercase;
	padding: 10rem 0;
	h3{
		color: #fff;
	}
	&-list{
		margin-top: 6rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&__table{
			margin: auto;
		}
	}
}