.blockstart {
  width: 100%;
  height: 90rem;
  background-image: url(../img/back-start.png);
}
.blockstart hr {
  opacity: 0.5;
}
.blockstart-header__nav {
  display: flex;
  justify-content: flex-end;
}
.blockstart-header__nav-bar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 60rem;
}
.blockstart-header__nav-bar a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  padding: 4rem 0 3.9rem 0;
}
.blockstart-header__nav-bar a::after {
  content: "";
  display: block;
  width: 110%;
  height: 0.2rem;
  background-color: #fff;
  transform: translateY(4.1rem) scale(0);
}
.blockstart-header__nav-bar a:hover::after {
  transform: translateY(4.1rem) scale(1);
  transition: 0.3s;
}
.blockstart-content {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 26rem;
}
.blockstart-content p.heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin: 2rem 0 4rem 0;
}

.btn {
  display: inline-block;
  padding: 1.5rem 3.6rem;
  background: #4985FF;
  color: #FFF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.blockservices {
  text-align: center;
  min-height: 70.3rem;
}
.blockservices p {
  color: #999999;
}
.blockservices__heading {
  max-width: 73.9rem;
  margin: 11rem auto 7rem auto;
  text-align: center;
}
.blockservices__heading h1 {
  line-height: 5.2rem;
}
.blockservices__heading p {
  margin-top: 5rem;
  line-height: 2.5rem;
}
.blockservices-list {
  display: flex;
  justify-content: space-between;
  display: flex;
}
.blockservices-list .icon-border {
  padding: 1rem;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  max-height: 9.6rem;
}
.blockservices-list .icon {
  padding: 2rem;
  border: 1px solid #4985FF;
  border-radius: 50%;
}
.blockservices-list .icon img {
  max-height: 4rem;
  margin: 0.5rem;
}
.blockservices-list__tables {
  display: flex;
  max-width: 35rem;
}
.blockservices-list__tables-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0rem 0rem 5.5rem 1.7rem;
}
.blockservices-list__tables-content h2 {
  margin: 3rem 0rem 1.2rem 0rem;
}

.blockdevelopment {
  background-color: #F6F6F8;
  min-height: 80rem;
  padding-top: 10rem;
}
.blockdevelopment hr {
  margin: 9rem 0 7rem 0;
  opacity: 0.5;
}
.blockdevelopment__content {
  display: flex;
  justify-content: space-between;
}
.blockdevelopment__content-text {
  max-width: 48.9rem;
  margin-top: 5rem;
}
.blockdevelopment__content-text p {
  margin: 4rem 0 3rem 0;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #999999;
}
.blockdevelopment__content-text a {
  color: #4985FF;
}
.blockdevelopment__list {
  display: flex;
  justify-content: space-between;
}
.blockdevelopment__list-table {
  min-width: 7rem;
  text-align: center;
}
.blockdevelopment__list-table p.number {
  display: inline-block;
  font-size: 3.6rem;
  color: #000000;
  margin-left: 2rem;
}
.blockdevelopment__list-table p {
  margin-top: 1.7rem;
  font-size: 1.6rem;
  color: #999999;
}