.blockstart {
  height: 90rem;
  width: 100%;
  background-image: url(../img/back-start.png);
}
.blockstart hr {
  opacity: 0.5;
}
.blockstart-header__nav {
  display: flex;
  justify-content: flex-end;
}
.blockstart-header__nav-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  width: 60rem;
}
.blockstart-header__nav-bar a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  padding: 4rem 0 3.9rem 0;
}
.blockstart-header__nav-bar a::after {
  content: "";
  display: block;
  width: 110%;
  height: 0.2rem;
  background-color: #fff;
  transform: translateY(4.1rem) scale(0);
}
.blockstart-header__nav-bar a:hover::after {
  transform: translateY(4.1rem) scale(1);
  transition: 0.3s;
}
.blockstart-content {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 26rem;
}
.blockstart-content p.heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin: 2rem 0 4rem 0;
}

.btn {
  display: inline-block;
  padding: 1.5rem 3.6rem;
  background: #4985FF;
  color: #FFF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}
.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #4985FF;
  transition: 0.2s;
}

.blockservices {
  text-align: center;
  min-height: 65.3rem;
  padding-bottom: 5rem;
}
.blockservices p {
  color: #999999;
}
.blockservices__heading {
  max-width: 73.9rem;
  margin: 11rem auto 7rem auto;
  text-align: center;
}
.blockservices__heading h1 {
  line-height: 5.2rem;
}
.blockservices__heading p {
  margin-top: 5rem;
  line-height: 2.5rem;
}
.blockservices-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.blockservices-list__tables {
  min-width: 32rem;
  margin: auto;
}
.blockservices-list .icon-border {
  padding: 1rem;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  max-height: 9.6rem;
}
.blockservices-list .icon {
  padding: 2rem;
  border: 1px solid #4985FF;
  border-radius: 50%;
}
.blockservices-list .icon img {
  max-height: 4rem;
  margin: 0.5rem;
}
.blockservices-list__tables {
  display: flex;
  max-width: 35rem;
}
.blockservices-list__tables-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0rem 0rem 5.5rem 1.7rem;
}
.blockservices-list__tables-content h2 {
  margin: 3rem 0rem 1.2rem 0rem;
}

.blockdevelopment {
  background-color: #F6F6F8;
  min-height: 80rem;
  padding-top: 10rem;
}
.blockdevelopment hr {
  margin: 9rem 0 7rem 0;
  opacity: 0.5;
}
.blockdevelopment__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blockdevelopment__content img {
  max-width: 100%;
}
.blockdevelopment__content-text {
  max-width: 48.9rem;
  margin-top: 5rem;
}
.blockdevelopment__content-text p {
  margin: 4rem 0 3rem 0;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #999999;
}
.blockdevelopment__content-text a {
  color: #4985FF;
}
.blockdevelopment__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blockdevelopment__list-table {
  min-width: 7rem;
  text-align: center;
  margin: auto;
}
.blockdevelopment__list-table p.number {
  display: inline-block;
  font-size: 3.6rem;
  color: #000000;
  margin-left: 2rem;
}
.blockdevelopment__list-table p {
  margin-top: 1.7rem;
  font-size: 1.6rem;
  color: #999999;
}

.blockscience {
  min-height: 97rem;
  position: relative;
}
.blockscience:after {
  content: " ";
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  width: 100%;
  height: 49rem;
  position: absolute;
  top: 0;
  z-index: -1;
}
.blockscience-heading {
  padding-top: 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 7rem;
}
.blockscience-heading h1 {
  width: 54rem;
  color: #fff;
}
.blockscience__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.blockscience__list-table {
  max-width: 35rem;
  margin: 2rem auto 2rem auto;
}
.blockscience__list-table h2 {
  margin: 3rem 0 3rem 0;
}
.blockscience__list-table p {
  font-size: 1.6rem;
  color: #999999;
  margin-bottom: 3rem;
}
.blockscience hr {
  margin: 8.5rem 0 8.5rem 0;
}

.blockproject {
  text-align: center;
  padding: 10rem 0 13rem 0;
  background-color: #F6F6F8;
}
.blockproject-heading {
  max-width: 73rem;
  margin: auto;
}
.blockproject-heading p {
  margin: 5rem auto 7rem auto;
}
.blockproject-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.blockproject-list__table img {
  box-shadow: 0px 20px 30px rgba(111, 111, 111, 0.6);
}

.blockreview {
  min-height: 108rem;
  position: relative;
}
.blockreview:after {
  content: " ";
  background: url(../img/review.png);
  width: 100%;
  height: 57rem;
  position: absolute;
  top: 0;
  z-index: -1;
}
.blockreview-heading {
  padding: 7rem 0 7rem 0;
  text-align: center;
}
.blockreview-heading h1 {
  color: #fff;
}
.blockreview-heading p {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
}
.blockreview-video {
  width: 70%;
  height: 43rem;
  text-align: center;
  margin: auto;
  background-image: url(../img/backvideo.png);
}
.blockreview-video__btn {
  margin: 16.5rem 0 16.5rem 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  padding: 2rem 4rem 2rem 4rem;
  color: #fff;
}
.blockreview-video__btn img {
  margin-right: 2.1rem;
}
.blockreview hr {
  opacity: 0.5;
  margin: 8.5rem 0 8.5rem 0;
}
.blockreview-mailing {
  text-align: center;
}
.blockreview-mailing p {
  color: #999999;
  margin: 2rem 0 3rem 0;
}
.blockreview-mailing .input {
  margin: auto;
  min-width: 32rem;
  width: 45%;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: 1px solid #F2F2F2;
  font-size: 1.3em;
  display: flex;
}
.blockreview-mailing .input input[type=text] {
  width: 65%;
  padding: 1.5rem 0rem 1.5rem 3.3rem;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 1.3rem;
}
.blockreview-mailing .input input[type=submit] {
  width: 35%;
  background: #4985FF;
  outline: none;
  border: 0;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}
.blockreview-mailing .input input[type=submit]:hover {
  cursor: pointer;
}
.blockreview-mailing .input:placeholder {
  color: #999999;
}
.blockreview-mailing .disclaiming {
  font-size: 1.3rem;
}

.footer {
  background-color: #F6F6F8;
  padding: 7rem 0 0 0;
}
.footer a {
  text-decoration: none;
  color: #999999;
  font-size: 1.4rem;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer ul {
  list-style: url(../img/list-style.png);
}
.footer ul p {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.footer ul li {
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.footer hr {
  opacity: 0.5;
  margin-top: 7rem;
}
.footer p.copyright {
  text-align: center;
  color: #999999;
  font-size: 1.3rem;
  padding: 3rem 0 3rem 0;
}