@media screen and (min-width: 750px){
	.blockanswer {
  padding: 15rem 10rem;
}
}
@media screen and (max-width: 750px){
	.blockanswer {
  padding: 15rem 0rem;
  text-align: center;
}
	p.text{
		text-align: left;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}